In [52]:
import os
import numpy as np
import pandas as pd

In [53]:
os.chdir("D:\\DataScience\\Deep Learning\\Day 2")
os.listdir()

['Auto MPG Original.txt',
 'Auto MPG.txt',
 'Data Description.txt',
 'Deep_learning.py',
 'Deep_Learning_regression.py']

In [54]:

column_names = ['MPG','Cylinders','Displacement','Horsepower','Weight',
                'Acceleration', 'Model Year', 'Origin','car_name']   #, na_values = "?"

rdata = pd.read_csv( 'Auto MPG.txt',header=None,na_values="?",sep=" ",names=column_names,comment='\t',skipinitialspace=True)
rdata.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,NaN
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,NaN
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,NaN
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,NaN
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,NaN

In [42]:
rdata.shape

(398, 8)

In [45]:
rdata.isnull().sum()

MPG               0
Cylinders         0
Displacement      0
Horsepower        6
Weight            0
Acceleration      0
Model Year        0
Origin            0
car_name        398
dtype: int64

In [55]:
rdata["Horsepower"]=rdata["Horsepower"].fillna(rdata["Horsepower"].mean())

In [56]:
rdata.isnull().sum()

MPG               0
Cylinders         0
Displacement      0
Horsepower        0
Weight            0
Acceleration      0
Model Year        0
Origin            0
car_name        398
dtype: int64

In [57]:
data=rdata.drop(["car_name"],1)

In [50]:
data.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [58]:
import sklearn
from sklearn.model_selection import train_test_split

In [60]:
x=data.iloc[:,1:]
x.head()

,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,8,307.0,130.0,3504.0,12.0,70,1
1,8,350.0,165.0,3693.0,11.5,70,1
2,8,318.0,150.0,3436.0,11.0,70,1
3,8,304.0,150.0,3433.0,12.0,70,1
4,8,302.0,140.0,3449.0,10.5,70,1

In [61]:
y=data.iloc[:,:1]
y.head()

    MPG
0  18.0
1  15.0
2  18.0
3  16.0
4  17.0

In [62]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=52)

In [104]:
def norm(x):
    return((x-x.mean())/x.std())

In [105]:
x_train_norm=norm(x_train)
x_test_norm=norm(x_test)
y_train_norm=norm(y_train)
y_test_norm=norm(y_test)

In [95]:
import tensorflow
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [97]:
model = keras.Sequential([
    layers.Dense(64, activation=tf.nn.relu, input_shape=[7]),
    layers.Dense(64, activation=tf.nn.relu),
    layers.Dense(1)
  ])

In [101]:
optimizer=keras.optimizers.RMSprop(0.001)

In [103]:
model.compile(loss="mean_squared_error",optimizer=optimizer,metrics=["mean_absolute_error","mean_squared_error"])

In [106]:
model.fit(x_train_norm,y_train_norm)

WARNING:tensorflow:From C:\Users\deep.bham\AppData\Local\conda\conda\envs\nlp_course\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
278/278 [==============================] - 1s 2ms/sample - loss: 0.3725 - mean_absolute_error: 0.4459 - mean_squared_error: 0.3725

In [107]:
model.fit(x_train_norm,y_train_norm,epochs=4)

Epoch 1/4
278/278 [==============================] - 0s 73us/sample - loss: 0.1869 - mean_absolute_error: 0.3258 - mean_squared_error: 0.1869
Epoch 2/4
278/278 [==============================] - 0s 68us/sample - loss: 0.1512 - mean_absolute_error: 0.2913 - mean_squared_error: 0.1512
Epoch 3/4
278/278 [==============================] - 0s 84us/sample - loss: 0.1316 - mean_absolute_error: 0.2703 - mean_squared_error: 0.1316
Epoch 4/4
278/278 [==============================] - 0s 84us/sample - loss: 0.1239 - mean_absolute_error: 0.2631 - mean_squared_error: 0.1239

In [108]:
y_pred=model.predict(x_test_norm)