In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
os.chdir("D:\\DataScience\\NLP\\TextFiles")
os.listdir()

['amazonreviews.tsv',
 'elon_tweets.txt',
 'elon_tweets2.txt',
 'huckfinn.txt',
 'moviereviews.tsv',
 'moviereviews2.tsv',
 'owlcreek.txt',
 'peterrabbit.txt',
 'reaganomics.txt',
 'reuters.csv',
 'smsspamcollection.tsv',
 'sms_readme.txt']

In [3]:
df=pd.read_csv('moviereviews.tsv',sep='\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [4]:
len(df)

2000

In [5]:
#print(df['review'][0])

In [6]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [9]:
blanks=[]


for i,lb,rv in df.itertuples():
    if rv.isspace():
        blanks.append(i)

In [10]:
df.drop(blanks,inplace=True)

In [11]:
len(df)

1938

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x=df['review']
y=df['label']

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=42)

In [15]:
#Build a Pipeline to vectorize a data

In [16]:
from sklearn.pipeline import Pipeline

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [18]:
from sklearn.svm import LinearSVC

In [19]:
text_clf=Pipeline([('Tfidf',TfidfVectorizer()),('clf',LinearSVC())])

In [20]:
model=text_clf.fit(x_train,y_train)

In [21]:
y_pred=model.predict(x_test)

In [22]:
from sklearn.metrics import accuracy_score

In [24]:
accuracy_score(y_pred,y_test)

0.8487972508591065

In [26]:
comparison=pd.DataFrame({'pred':y_pred,'test':y_test})

In [27]:
comparison

     pred test
600   neg  pos
931   pos  pos
937   pos  pos
1811  neg  neg
1512  neg  neg
1273  neg  neg
1654  neg  neg
885   pos  pos
1268  neg  neg
956   neg  pos
1302  neg  neg
1814  neg  neg
317   pos  pos
1321  neg  neg
1847  pos  pos
1083  neg  neg
838   neg  neg
1275  pos  pos
408   neg  neg
803   neg  pos
101   neg  neg
1092  neg  neg
381   neg  neg
257   neg  neg
1511  pos  pos
260   pos  neg
1283  neg  pos
1752  pos  pos
1168  pos  pos
364   pos  pos
...   ...  ...
1530  neg  neg
797   pos  pos
768   pos  pos
153   pos  pos
1005  pos  pos
1236  neg  neg
1022  neg  neg
1205  pos  pos
806   pos  pos
575   pos  pos
671   pos  pos
1151  neg  neg
1977  neg  neg
1423  pos  pos
1331  pos  neg
294   pos  pos
1610  pos  pos
1460  pos  pos
1019  pos  pos
1642  pos  pos
1592  neg  neg
1503  neg  neg
1226  neg  neg
1888  neg  neg
873   neg  neg
615   pos  pos
1029  neg  neg
1342  pos  pos
1030  neg  neg
770   pos  pos

[582 rows x 2 columns]